.container {
    background: #cfd8dc;
    height: 93vh;
    overflow: hidden;
    /* height: 200px; */
}

.div-userinfo {
    margin: 20px;
}

.div-history {
    margin: 20px;
    height: 80vh;
}

.table-userinfo {
    border-bottom: 1px solid #909597;
    margin-top: 30px;
}

th, td {
    padding: 10px;
    padding-right: 30px;
}

.tab-icon {
    margin-right: 8px;
}

.card-vacation {
    max-width: 600px;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}

.card-header {
    background-color: rgb(33, 36, 36);
    text-align: center;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    line-height: 150px;
    height: 150px;
    margin-bottom: 0px;
}

.layer {
    background-color: rgba(43, 43, 43, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.span-date {
    position: absolute;
    bottom: -40%;
    left: 5px;
    font-size: 15px;
}