<div class="container" align="center">
    <br />
    <mat-card class="card-main">
        <mat-card-header>
            <div mat-card-avatar class="card-header-image"></div>
            <mat-card-title>Richard Gergo Madarasz</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

                <ul>
                    <li>Developed by Richard Gergo Madarasz strictly for demo purposes.<br /></li>
                    <li>Student of University of Debrecen. <br /></li>
                    <li>Part of IT-Pro Double Degree programme at JAMK, Jyvaskyla.</li>
                </ul>

            <p click>
                Find this project on <a target="_blank" rel="noopener noreferrer" href="https://github.com/rgmadarasz/HolidayPlanner">Github</a>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openLinkedin()">Find me on LinkedIn</button>
        </mat-card-actions>
    </mat-card>
</div>