.card-main {
  max-width: 400px;
  margin-top: 100px;
  text-align: left;
}

.card-header-image {
  background-image: url('/assets/images/rgm.png');
  background-size: cover;
}

.container {
    background: #cfd8dc;
    height: 93vh;
    /* height: 200px; */
  }
  
  .router-flex {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  @media only screen and (max-device-width: 480px) {
    /* define mobile specific styles come here */
    .card-main {
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 0px;
    }
  }
  
  
  